.Website{
    color: red;
}
.container{
    border: solid;
    padding-bottom: 69px;
}
.heading{
    background-color: lightgray;
    text-align: center;
    margin: auto;
    padding: 12px;
}
.list1{
    display: flex;
    justify-content: space-between;
    text-align: center;

}
ul li {
    display: inline-block;
    padding: 10px 5px;
    margin: 12px;
}

.top-nav li {
    background-color: lightblue;
    color: blue;
}
.bottom-nav li {
    background-color: lightgreen;
    color: green;

}